<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Create or join the room</title>
        <script src="./v4.js"></script>
    </head>
    <body>
        <div class="wrap">
            <button class="create_new_room">Create meeting</button>
            <div class="wrap_join">
                <input type="text" placeholder="Enter room id" class="join" />
                <button class="join_room">Join</button>
            </div>
        </div>
        <script src="./script.js"></script>
    </body>
</html>
